.form-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #eeeeee;
  }
  
.form-group {
    margin-bottom: 15px;
  }
  
.form-label {
    font-weight: strong;
    font-size: 18px;
  }
  
.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
  }
  
.form-select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
.error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
  }

.password-note {
  margin-top: 10px;
  font-size: 14px
}

.password-note p {
  margin-bottom: 5px;
}

.password-note ul {
  list-style-type: disc;
  padding-left: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
