.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonStyle {
  color: white;
  background-color: #5080FD;
  padding: 14px;
  margin: 4px 2px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.buttonStyle:hover {
  color: white;
  background-color: #7ED957;
  padding: 14px;
  margin: 4px 2px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.smallButtonStyle {
  color: white;
  background-color: #5080FD;
  padding: 8px 14px;
  margin: 4px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.smallButtonStyle:hover {
  color: white;
  background-color: #7ED957;
  padding: 8px 14px;
  margin: 4px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
